{% extends "layout.html" %}
{% block body %}
<section id="main">
  <h1 style="color:cadetblue; padding-top:3rem;">Add <span style="color:navy;">Query</span></h1>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query</span>
        </div>
        <textarea class="form-control" id="query_textarea" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Remark</span>
        </div>
        <textarea class="form-control" id="remark_textarea" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>
</section>

<section id="but">
  <div class="row">
    <div class="col-lg-6">
      <button type="button" id="add_query_btn" class="btn btn-primary">Add Query</button>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#add_query_btn").click(function () {
      var query = $("#query_textarea").val();
      var remark = $("#remark_textarea").val();
      $.ajax({
        url: "{{ url_for('add_query') }}",
        type: 'post',
        data: JSON.stringify({
          query: query,
          remark: remark
        }),
        contentType: "application/json;charset=utf-8",
        dataType: 'json',
        success: function (data) {
          alert("Status: " + data["status"] + "\nMessage: " + data["message"]);
          location.reload();
        }
      });
    });
  });
</script>
{% endblock %}