{% extends "layout.html" %}
{% block body %}
<section id="del">

  <h1 style="color:navy; padding-top:1rem;">Query<span style="color:cadetblue;">list</span></h1>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query1</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">

          <span class="input-group-text">Query2</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query3</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query4</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query5</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Remark</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query?</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query?</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query?</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Query?</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>
</section>
{% endblock %}