{% extends "layout.html" %}
{% block body %}
<section id="del">

  <h1 style="color:navy; padding-top:1rem;">Query<span style="color:cadetblue;">list</span></h1>
  <br>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
  $("#del").ready(function () {
    $.ajax({
      url: "{{ url_for('list_query') }}",
      type: 'post',
      data: JSON.stringify({}),
      contentType: "application/json;charset=utf-8",
      dataType: 'json',
      success: function (data) {
        $.each(data["response"], function (index, value) {
          $("#del").append("<div id='" + index + "-row' class='row'></div>");

          $("#" + index + "-row").append("<div id='" + index + "-col-lg-6-1' class='col-lg-6'></div>");
          $("#" + index + "-row").append("<div id='" + index + "-col-lg-6-2' class='col-lg-6'></div>");

          $("#" + index + "-col-lg-6-1").append("<div id='" + index + "-input-group-1' class='input-group'></div>");
          $("#" + index + "-input-group-1").append("<div id='" + index + "-input-group-prepend-1' class='input-group-prepend'></div>");
          $("#" + index + "-input-group-prepend-1").append("<span id='" + index + "-input-group-text-1' class='input-group-text'></span>");
          $("#" + index + "-input-group-text-1").append("Query" + (index + 1));
          $("#" + index + "-input-group-1").append("<textarea class='form-control' aria-label='With textarea'>" + value["query"] + "</textarea>");

          $("#" + index + "-col-lg-6-2").append("<div id='" + index + "-input-group-2' class='input-group'></div>");
          $("#" + index + "-input-group-2").append("<div id='" + index + "-input-group-prepend-2' class='input-group-prepend'></div>");
          $("#" + index + "-input-group-prepend-2").append("<span id='" + index + "-input-group-text-2' class='input-group-text'>Remark</span>");
          $("#" + index + "-input-group-2").append("<textarea class='form-control' aria-label='With textarea'>" + value["remark"] + "</textarea>");

        });
      }
    });
  });
</script>
{% endblock %}